<div class="flex flex-col justify-around items-center text-sm m-8">
<h1 class="text-2xl font-bold mb-8">Recipes</h1>
<div class="mt-8">
<ul>
      <% @recipes.each do |recipe| %>
      <li class="m-8 shadow-lg">
      <div class="ml-4 md:flex md:flex-row p-4">
        <div >
            <h3 class="text-2xl"><%= recipe.name %></h3>
            <span , class= "text-sm text-indigo-600 hover:text-indigo-500"><%= button_to "Delete", recipe_path(recipe.id), method: :delete %></span>
              </div>
            <div class="md:w-3/4 items-end justify-end content-center text-sm">
              <div><%= recipe.description %></div>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
      </div>
<%= link_to "New recipe", new_recipe_path, class:"text-sm bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mt-2" %>
</div>