<div>
<table>
<thead>
<tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= food.name%></td>
          <td><%= food.quantity%></td>
          <td>
              <%= button_to "Delete", food_path(food.id), method: :delete%>
          </td>
        </tr>
      </tbody>
</table>
</div>