
<nav class="sticky z-50 top-0 w-full flex justify-start flex-wrap items-center gap-10 py-4 bg-gray-100 shadow-lg navbar navbar-expand-lg navbar-light">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white mx-5"><%= link_to "Recipe App", root_path %></span>
    <div class="hidden w-full md:block md:w-auto">
      <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
          <%= link_to "Foods", root_path %>
        </li>
        <li class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
        <%= link_to "Recipes", recipes_path(current_user) %>
        </li>
        <li class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
        <%= link_to "Public Recipes", public_recipes_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>